main {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	width: 100%;
}
.post {
	padding: 15px 20px;

	max-width: 500px;
	max-height: 400px;
	border: 1px solid black;
	border-radius: 8px;
	overflow: auto;
}
.p-bottom {
	display: flex;
	gap: 1rem;
}
.p-top {
	font-size: 1.5rem;
}

.modal {
	height: 400px;
	width: 600px;
	position: fixed;
	top: 300px;
	left: 800px;
	border-radius: 8px;
	background-color: white;
}
h5 {
	text-align: center;
	font-size: 2rem;
	margin: 0;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin: 0 auto;
}
form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
